@charset "utf-8";
.header {
	height: auto;
	background-image: url(images/1.jpg);
	background-repeat: no-repeat;
	background-color: #1D1D1D;
}
.header .menu .top {
	height: 25px;
	background-image: url(images/tableftE.gif);
	color: #FFFFFF;
	padding-top: 15px;
}
.bottom {
	height: 30px;
	background-image: url(images/tableftE.gif);
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	padding-top: 10px;
}

.content {
	height: auto;
	background-color: #EBEBEB;
}
.content .link {
	width: 160px;
	padding-top: 20px;
	padding-left: 10px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #2F006C;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #030303;
	margin-top: 10px;
}
.content .link .links {
	font-size: 12px;
	font-weight: bold;
}
.content .link .links a {
	color: #050505;
	text-decoration: none;
}
.content .link .links a:hover {
	color: #B00002;
}

   body {
        width:100%;
        margin:0;
        padding:0;
        font: bold 11px/1.5em Verdana;
}

h2 {
        font: bold 14px Verdana, Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0px;
        padding: 0px 0px 0px 15px;
}

/*- Menu Tabs E--------------------------- */

    #tabsE {
      float:left;
      width:100%;
      background:#000;
      font-size:93%;
      line-height:normal;

      }
    #tabsE ul {
        margin:0;
        padding:10px 10px 0 50px;
        list-style:none;
      }
    #tabsE li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsE a {
      float:left;
      background:url("./images/tableftE.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabsE a span {
      float:left;
      display:block;
      background:url("./images/tabrightE.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsE a span {float:none;}
    /* End IE5-Mac hack */
    #tabsE a:hover span {
      color:#FFF;
      }
    #tabsE a:hover {
      background-position:0% -42px;
      }
    #tabsE a:hover span {
      background-position:100% -42px;
      }

        #tabsE #current a {
                background-position:0% -42px;
        }
        #tabsE #current a span {
                background-position:100% -42px;
        }
#apDiv1 {
	position:absolute;
	left:234px;
	top:213px;
	width:588px;
	height:113px;
	z-index:1;
	text-align: justify;
}
.tbl_form   {
	border-bottom-style: solid;
	border-right-color: #AA0000;
	border-bottom-color: #AA0000;
	border-left-color: #AA0000;
	border-bottom-width: 1px;
}
.tbl_form  .cptn   {
	background-image: url(images/tableftE.gif);
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
}
.tbl_form  .field   {
	font-size: 12px;
	font-weight: bold;
	color: #2F006C;
}
#apDiv2 {
	position:absolute;
	left:978px;
	top:171px;
	width:136px;
	height:214px;
	z-index:1;
}#apDiv2 .log {
	font-size: 12px;
	font-weight: bold;
	color: #2F006C;
}
#apDiv2 .log .loglinks {
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(images/tableftE.gif);
	height: 25px;
	padding-top: 5px;
}
#apDiv2 .log .loglinks a {
	color: #FFFFFF;
	text-decoration: none;
}
#apDiv2 .log .loglinks a:hover {
	color: #828282;
}
.tbl_form  .data    {
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}
.header .menu .h {
	font-size: 36px;
	font-weight: bolder;
	color: #FF0000;
	text-align: right;
}
.nw {
	background-color: #D6D6D6;
	border-top-width: 1px;
	border-top-style: inset;
	border-top-color: #818181;
}
.header .menu .baner {
	font-size: 36px;
	color: #C11A1B;
	text-align: center;
}
